.row .col.m6 {
    margin-left: 12vw !important;
    width: 75% !important;
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.msg-success {
    display: flex;
    justify-content: flex-end;
}
